<body>
    <div class="main">
    <form action="#" (ngSubmit)="submit()" #myForm="ngForm">
        <section class="signup">
       <!-- <img src="images/signup-bg.jpg" alt="">  -->
            <div class="container">
                <div class="signup-content">
                    <!-- <form method="POST" id="signup-form" class="signup-form"> -->
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" [(ngModel)]="cred.name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="email" id="email" placeholder="Your Email" [(ngModel)]="cred.email"  pattern="[a-zA-Z0-9._%+-]+@[a-z]+\.[a-zA-Z]{2,}" (blur)="checkEmail()" required email>
                        </div>
                       
                        <div  class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password" [(ngModel)]="cred.password" (blur)="checkPasswords()"> 
                             <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                          <div class="form-group">
                           
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Confirm your password" [(ngModel)]="cred.re_password" (blur)="checkPasswords()">
                         <div *ngIf="!passwordsMatch">Passwords do not match.</div>
                           </div>  

                           <div class="form-group">
                            <select id="role" class="form-control"  required>
                                <option disabled selected>Role</option>
                                <option value="admin">User</option>
                                <option value="user">Admin</option>
                              </select>
                          </div>




    
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" (click)="submit()" [disabled]="!myForm.form.valid"/>
                        </div>
            
                    <p class="loginhere">
                        Have already an account ? <a (click)="submit()" ><b>Login here</b></a>
                    </p>
                </div>
            </div>
        </section>
    </form>
    </div>
    </body>
    
    

